{% extends 'note/base.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if projects %}
                 <h1>{{ projects.count }} Project{{ projects.count|pluralize }}</h1>
            {% else %}
                           <h1>Projects</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if projects %}
            <div class="list-group">
                {% for projects in projects %}
                <a href="{% url 'viewproject' project.id %}" class="list-group-item list-group-item-action{% if project.public %} list-group-item-danger{% endif %}">
		  <b>{{ project.title }}</b>{% if project.description %} - {{ project.description|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Looks like you don't have any projects! Get working.</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createproject' %}">New Project</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
